{{ partial "header.html" . }}
  <main>
    <h1>Hi!</h1>
    <img src="/logo.png" alt="me!">
    <p>I'm Terin, a software developer who was once "internet famous", whatever that means. This is my personal website and blog, with some of my most recent content found below.</p>
    <p>Feel free to get in touch. I'd love to hear from you! I'm legally required to say "don't forget to like and subscribe, and ring that (RSS) bell for more!" I hope I remove these paragraphs before this site goes live.</p>

    <h2>Recent Posts</h2>
    {{ $paginator := .Paginate (first 3 (where site.RegularPages "Type" "in" site.Params.mainSections)) }}
      {{ range $paginator.Pages }}
        {{ .Render "summary" }}
    {{ end }}
{{ partial "footer.html" . }}
