{{ partial "header.html" . }}
  <main>
    <h1>Hi!</h1>
    <section class="h-card">
        <img src="/logo.png" class="u-photo" alt="Photo of myself">
        <p>I'm <span class="p-name"><span class="p-given-name">Terin</span> <span class="p-family-name">Stock</span></span>, otherwise known as <span class="p-nickname">terinjokes</span>, a <span class="p-job-title" style="text-transform: lowercase">Software Developer</span>. I'm located in-between the canals of <span class="p-adr hdr"><span class="p-locality">Amsterdam</span>, <span class="p-country-name">Netherlands</span></span>.
        </p>
        <p>Feel free to <a href="mailto:terin@terinstock.com" class="u-email">get in touch</a>. I'd love to hear from you!</p>
        <a rel="me" class="u-url u-uid" href="https://terinstock.com" hidden></a>
    </section>

    <h2>Recent Posts</h2>
    {{ $paginator := .Paginate (first 3 (where site.RegularPages "Type" "in" site.Params.mainSections)) }}
      {{ range $paginator.Pages }}
        {{ .Render "summary" }}
    {{ end }}
{{ partial "footer.html" . }}
