body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

code {
  font-size: 80%;
}

pre, code {
  font-family: 'Fira Mono', monospace;
  font-variant-ligatures: none;
}

article {
  max-width: 60em;
  padding: 2em;
  margin: auto;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

article > div > p,
article > div > ul {
  max-width: 30em;
}

article > div > blockquote,
article > div > .highlight,
article > div > pre {
  max-width: 80ex;
  font-size: 80%;
}

figure img {
  max-width: 100%;
}

blockquote {
  border-left: #000 solid 1px;
  padding: 0 1em;
}

.highlight, pre {
  overflow-y: hidden;
}

.highlight {
  padding: 0.1em 0.5em;
}
