body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

pre, code {
  font-size: 80%;
  font-family: 'Fira Mono', monospace;
  font-variant-ligatures: none;
}

article {
  max-width: 60em;
  padding: 2em;
  margin: auto;
}

article > div > p,
article > div > ul {
  max-width: 30em;
}

article > div > blockquote,
article > div > .highlight,
article > div > pre {
  max-width: 40em;
}

figure img {
  max-width: 100%;
}

blockquote {
  border-left: #000 solid 1px;
  padding: 0 1em;
}

.highlight, pre {
  overflow-y: hidden;
}

.highlight {
  padding: 0.1em 0.5em;
}
